body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: rgb(245, 200, 182);
}

img {
    height: 300px;
    width: 300px;
}

.maintopics {
    color: grey;
}

.topnav {
    background-color: rgba(244, 163, 255, 0.493);
}