body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

img {
    height: 300px;
    width: 300px;
}

.pixcaption {
    font size: 12px;
    color: purple;
    font-weight: bold;
    
}

.maintopics {
    color: grey;
}

.topnav {
    background-color: aqua;
}