body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: rgb(245, 200, 182);
}

img {
    height: 300px;
    width: 300px;
}

#banner {
    color: grey;
    background-color: blueviolet;
}

.main-topics {
    margin-bottom: 50px;
}

.topnav {
    background-color: rgba(244, 163, 255, 0.493);
    display: inline;


}